.back a span {
padding:  0 20px;
}
.back a{
    color: gray;
}
.set_btn{
    width: 100%;
}
.set_btn .set_pass_btn{
    width: 100%;
    padding: 20px 40px;
    background-color: #0A9C48;
    color: white;
    font-size: 20px;
    border-radius: 45px;
    margin: auto;
    outline: none;
    border: none;
}