*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.email_link{
    width: 100%;
}
.header_link_containar p{
    padding-left: 25px;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 18px;
}
.Know{
    color: black;
}